//
// Notes to End Users.
//
// The workflow should run without editing this configuration file,
// however there may be instances in which you wish to edit this
// file for compute performance or other reasons. Please see:
//
//   https://nextflow.io/docs/latest/config.html#configuration
//
// for further help editing this file.

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

params {
    // Boilerplate options
    out_dir                     = "output"
    //tracedir                   = "${params.out_dir}/pipeline_info/${trace_timestamp}"
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    hook_url                   = null
    help                       = false
    version                    = false
    validate_params            = true
    show_hidden_params         = false
    schema_ignore_params       = false

    fasta = null
    output_intermediates = false
    seq_qc = false
    assembly_refs = null
    default_assembly_refs = "squirrel/data/ref_seq.fasta"
    no_mask = false
    no_itr_mask = false
    additional_mask = null
    default_additional_mask = "squirrel/data/empty.csv"
    extract_cds = false
    concatenate = false
    clade = null
    run_phylo = false
    outgroups = null

    wf {
          example_cmd = [
              "--fasta squirrel/data/NC_063383.fasta",
          ]
          agent = null
          container = "rmcolq/squirrel"
        }
}


manifest {
    name            = 'aineniamh/squirrel'
    author          = 'Aine OToole'
    homePage        = 'https://github.com/aineniamh/squirrel/'
    description     = 'Some QUIck Rearranging to Resolve Evolutionary Links.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=20.10.0'
    version         = '1.0.2'
}

executor {
    $local {
        cpus = 8
        memory = "8 GB"
    }
}

// used by default for "standard" (docker) and singularity profiles,
// other profiles may override.
process {
    shell = ['/bin/bash', '-euo', 'pipefail']
}


profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
        }
    }

    // using singularity instead of docker
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }


    conda {
        conda.enabled = true
    }

    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }
}


timeline {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/trace.txt"
}

env {
	PYTHONNOUSERSITE = 1
}
